/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*    font-family: 'Ubuntu Mono', ;
    font-family: 'Exo', sans-serif;*/

body{
    background: url("../img/backgrounds/bg_rain2.jpg");
}

#mainContainer{
    position:relative;
    width: 1100px;
    height: auto;
    margin-left:0px;
}


#dearClimate{
    position:absolute;
    top:10px;
    left:0px;
    width:682px;
    height:103px;
    background-color: white;
}


#dearClimate img{
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}

#header{
    position:absolute;
    top:0px;
    left:10px;
    width:100%;
    height:100px;
}


#navContainer{
    position: absolute;
    left:690px;
    width:350px;
    margin-top: 25px;
}

.headerNav{
    width:auto;
    background-color: white;
    text-transform: uppercase;
    color:black;
    font-weight: 900;
    font-family: 'Exo', sans-serif;
    margin:10px;
    border:3px solid white;
    line-height: 30px;
}

.headerNav:hover{
    border:3px solid orange;
    cursor: default;
}

.headerNav.isSelected{
    border:3px solid orange;
    cursor: default;
}

#contentContainer{
    position: absolute;
    top:120px;
    left:10px;
    width:1000px;
    height:510px;
    background-color: black;
    border: 10px solid orange;
}

#ccbug{
    position:absolute;
    top: 655px;
    left: 940px;
    width: 10px;
    height: 60px;
    background-repeat: no-repeat;
}

#mute{
    position:absolute;
    top: 430px;
    left: 920px;
    width: 10px;
    height: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#contentSidebar{
    position: absolute;
    top: 350px;
    left: 770px;;
    width:540px;
    height:80px;
    text-align: justify;
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    font-family:'Exo';
    font-size:34px;
    color:black;
/*    text-transform: uppercase;
*/}


#contentLetter{
    margin-left: 60px;
    margin-bottom:30px;
    width:50%;
    color: white;
    font-family:'Share Tech Mono';
    font-size: 14px;
}

#text{
    color: grey;
    font-family:'Share Tech Mono';
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#scrollbar{
    overflow-y:scroll;
    top:120px;
    left:10px;
    width:1000px;
    height:510px;
}

.fadein {}
.fadein img { 
    position:absolute; 
    right:100px;
    top:20px;
    width:300px; 
}

#modalOverlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

#modal {
    position:absolute;
    background:rgba(0,0,0,0.2);
    border-radius:0px;
    padding:8px;
    opacity: 0;
    -webkit-transform: scale(.9);
    -webkit-transition: opacity 1s, -webkit-transform .5s;
    transition: opacity 1s, transform .5s;
}

#modalContent {
    border-radius:0px;
    background:#fff;
    padding:5px;
    font-family:'Share Tech Mono';
}

#modalClose {
    position:relative;
    width:100%;
    height:30px;
    display:block;
    background-color: white;
    font-size: 8px;
    font-family:'Share Tech Mono';
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}